/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body
{
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	background-color: #eec;
}
.main_heading
{
	font-family: 'Roboto Slab', serif;
	font-size:22px;
}
body
{
	padding:0;
	margin:0
}
#header, #footer
{
	background-color: #09e; 
}
#header
{
	padding: 12px 20px;
	height:50px
}
#logo
{
	font-size: 24px;
	font-weight: bold;
	width: 200px;
	position: relative;
	left: 30px;
	top:10px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}
#footer
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 10px 20px;
	color: #fff;
}
#main-wrapper
{
	width: 1024px;
	margin: auto;
}
#main-content
{
	margin:30px 20px;
}
#menu-div
{
	width: 1024px;
	margin: auto;
}
#menu-wrapper
{
		background-color: #09c;
}
#menu-ul
{
	list-style: none;
	display: inline-block;
	padding:0;
	margin:0;
}
.menu-li
{
	display: inline-block;
	border-left: 5px solid #09e;
}
.menu-li a
{
  display:block;
  text-decoration: none;
	padding: 8px 20px;
	font-size: 14px;
	color: #fff;
}
.menu-li a:hover
{
	background-color: #098;
}
#home
{
		border: 0px solid #09e;
}
#search-form
{
	display: inline-block;
}
#search-div
{
  width: 300px;
  font-size: 14px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	padding: 5px 15px;
	float: right;
}
#search-div #search
{
	padding: 4px;
	width: 180px;
	margin-right:5px;
	color: #777;
	border: none;
	border-radius: 3px;
}
.btn
{
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.btn-green
{
	border: 2px solid #0c8;
	background-color: #0d8;
	border-radius: 5px;
}
.btn-small
{
	padding:3px 10px;
}
a.arrow-link
{
text-decoration: none;
}
a.arrow-link:before
{
content: "\00BB";
}
#error-explanation
{
	color: #c00;
}
#error-explanation h2
{
	font-size: 16px;
}
#error-explanation ul
{
	margin-left:40px;
}
#search-ul
{
	padding:0;
	margin:0;
	list-style: none;
	background-color:  #fff;
	color: #000;
	width: 188px;
	font-weight: normal;
}
#search-ul li
{
	padding: 2px 8px;
	border-bottom: 1px solid #ccc; 
}
#search-ul a
{
	text-decoration: none;
	color: #000;
}