// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
}
.main_heading
{
	font-family: 'Roboto Slab', serif;
	font-size:20px;
}
body,ul
{
	padding:0;
	margin:0
}
#header, #footer
{
	background-color: #09e; 
}
#header
{
	padding: 12px 20px;
	height:50px
}
#logo
{
	font-size: 24px;
	font-weight: bold;
	width: 200px;
	position: relative;
	left: 30px;
	top:10px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}
#footer
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 10px 20px;
	color: #fff;
}
#main-wrapper
{
	width: 1024px;
	margin: auto;
}
#main-content
{
	margin:30px 20px;
}
#menu-div
{
	width: 1024px;
	margin: auto;
}
#menu-wrapper
{
		background-color: #09c;
}
#menu-ul
{
	list-style: none;
	display: inline-block;
}
.menu-li
{
	display: inline-block;
	border-left: 5px solid #09e;
}
.menu-li a
{
  display:block;
  text-decoration: none;
	padding: 8px 20px;
	font-size: 14px;
	color: #fff;
}
.menu-li a:hover
{
	background-color: #098;
}
#home
{
		border: 0px solid #09e;
}
#search-form
{
	display: inline-block;
}
#search-div
{
  width: 300px;
  font-size: 14px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	padding: 5px 15px;
	float: right;
}
#search-div #search
{
	padding: 4px;
	width: 180px;
	margin-right:5px;
	color: #777;
	border: none;
	border-radius: 3px;
}
.btn
{
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.btn-green
{
	padding:3px 10px;
	border: 2px solid #0c8;
	background-color: #0d8;
	border-radius: 5px;
}
.article-wrapper
{
	max-height: 115px;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #bbb;
}
#article_title, #article_text, #article_tag
{
  border: 1px solid #ddd;
	width: 450px;
	padding: 5px;
}
#article_title
{
}
#article_text
{
		height: 200px;
}
#article_title:focus, #article_text:focus, #article_tag:focus
{
	outline:none;
}


.article-title
{
	font-weight: bold;
	font-size: 18px;
	margin-bottom:8px;
}
.article-title a
{
	color: #333;
}
.article-text
{
	padding: 5px 20px;
}
.article-options
{
	padding: 5px 20px;
}
a.arrow-link
{
text-decoration: none;
}
a.arrow-link:before
{
content: "\00BB";
}






















