// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
  padding:0;
  margin:0
}
#header
{
background-color: #09c; 
padding: 10px 20px; 
color: #fff;
margin-bottom:20px
}