// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-wrapper
{
	max-height: 115px;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #bbb;
}
#article_title, #article_text, #article_tag
{
  border: 1px solid #ddd;
	width: 790px;
	padding: 5px;
}
#article_title
{
}
#article_text
{
		height: 200px;
}
#article_title:focus, #article_text:focus, #article_tag:focus
{
	outline:none;
}
.article-title
{
	font-weight: bold;
	font-size: 18px;
	margin-bottom:8px;
}
.article-title a
{
	color: #333;
}
.article-text
{
	padding: 5px 20px;
}
.article-options
{
	padding: 5px 20px;
}
#comment-wrapper
{
	padding: 10px 25px 20px;
	background-color: #ffe;
	margin-top: 20px;
}
#cke_article_text
{
	width: 800px;
}




















