// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user input
{
	width: 200px;
	padding: 4px;
}
.new_user input[type='submit']
{
	width: 80px;
}
td
{
	padding-top: 7px; 
}
#heading-green
{
	color: #0a0;
}